body{
    margin: 0;
    padding: 0;
    background-color:darkslategray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin-top: 3rem;
    height: 20rem;
    width: 30rem;
    background-color: black;
    color: white;
    box-shadow: 0 0 1.2rem white;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem;
}

.weatherApp{
    line-height: 1rem;
}

.temperature{
    font-size: 3.5rem;
    font-weight: bold;
}

.location{
    font-size: 1.5rem;
}

.dateTime{
    font-size: 1.5rem;
}

.form{
    padding-top: 1rem;
}

input{
    height: 2.5rem;
    width: 16rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.3rem;
    border: none;
}

button{
    height: 2.5rem;
    width: 8rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: cornflowerblue;
    color: white;
}